[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
isort = "*"
twine = "*"
autoflake = "*"
pytest = "*"
pytest-cov = "*"
bump2version = "*"
flake8 = "*"
coverage = "*"
pytest-runner = "*"
tox-pyenv = "*"
pytest-mock = "*"
pytest-datadir = "*"
tox = "*"
pyminifier = "*"
micropy-cli = {editable = true,path = "."}
wheel = "*"
coveralls = "*"
docutils = "==0.15"
sphinx = "*"
recommonmark = "*"
pytest-watch = "*"
pytest-testmon = "*"
sphinx-click = "*"
ptvsd = "*"
tox-gh-actions = "*"

[packages]
click = ">=7"
questionary = "*"
rshell = "*"
jsonschema = "*"
colorama = {version = "*",sys_platform = "== 'win32'"}
jinja2 = "*"
requests = "*"
tqdm = "*"
requirements-parser = "*"
packaging = "*"
cachier = "*"
