[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
isort = "*"
twine = "*"
autoflake = "*"
pytest = "*"
micropy-cli = {editable = true,path = "."}
pyfakefs = "*"
pytest-cov = "*"
tox-pipenv = "*"
bump2version = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest-runner = "*"
tox-pyenv = "*"

[packages]
click = "*"
questionary = "*"
rshell = "*"
jsonschema = "*"
colorama = {version = "*",sys_platform = "== 'win32'"}
