[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
isort = "*"
twine = "*"
autoflake = "*"
pytest = "*"
micropy-cli = {editable = true,path = "."}
pyfakefs = "*"
pytest-cov = "*"

[packages]
click = "*"
requests = "*"
questionary = "*"
rshell = "*"

[requires]
python_version = "3.7"
