[tool.poetry]
name = "micropy-cli"
version = "3.1.1"
description = "Micropython Project Management Tool with VSCode support, Linting, Intellisense, Dependency Management, and more!"
authors = ["Braden Mars <bradenmars@bradenmars.me>"]
license = "MIT"
packages = [
    { include = "micropy" }
]

readme = "README.md"
homepage = "https://github.com/BradenM/micropy-cli"
repository = "https://github.com/BradenM/micropy-cli"
documentation = "https://micropy-cli.readthedocs.io"

keywords = ["micropython", "stubs", "linting", "vscode", "intellisense"]
classifiers = [
    "Topic :: Software Development :: Code Generators",
    "Topic :: Software Development :: Embedded Systems",
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Python :: Implementation :: MicroPython",
    "Programming Language :: Python :: Implementation :: CPython",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
]

include = [
    "README.md", "CHANGELOG.md", "LICENSE",
    "micropy/project/template/*",
    "micropy/**/*.json",
    "micropy/lib/*"
]

[tool.poetry.scripts]
micropy = 'micropy.cli:cli'

[tool.poetry.dependencies]
python = "^3.6"
boltons = "^19.3"
cachier = "^1.2"
Jinja2 = "^2.10"
packaging = "^19.2"
questionary = "^1.4"
requests = "^2.22"
requirements-parser = "^0.2.0"
rshell = "^0.0.26"
tqdm = "^4.39"
click = "^7.0"
colorama = {version = "^0.4.3", platform = "win32"}
jsonschema = "=3.2.0"
dpath = "^1.4"

[tool.poetry.dev-dependencies]
autoflake = "^1.3"
autopep8 = "^1.4"
bump2version = "^0.5.11"
coveralls = "^1.8"
flake8 = "^3.7"
isort = "^4.3"
pylint = "^2.4"
pyminifier = "^2.1"
pytest = "^5.3"
pytest-cov = "^2.8"
pytest-datadir = "^1.3"
pytest-mock = "^1.12"
pytest-runner = "^5.2"
pytest-testmon = "^1.0"
pytest-watch = "^4.2"
pytest-xdist = "^1.30"
recommonmark = "^0.6.0"
rope = "^0.14.0"
sphinx = "^2.2"
sphinx-click = "^2.3"
tox = "^3.14"
tox-gh-actions = "^0.3.0"
mypy = "^0.750.0"
doc8 = "^0.8.0"
docformatter = "^1.3"
codacy-coverage = "^1.3"
requests-mock = "^1.7"
pytest-forked = [
    {version = "^1.1", platform = "linux"},
    {version = "^1.1", platform = "darwin"}
]

[tool.dephell.main]
from = {format = "poetry", path="pyproject.toml"}
to = {format = "setuppy", path="setup.py"}

[build-system]
requires = ["poetry>=1.0.0b8"]
build-backend = "poetry.masonry.api"
