[MASTER]
# Loaded Stubs:  esp32-micropython-1.11.0  esp8266-micropython-1.11.0
init-hook='import sys;sys.path.insert(1, ".micropy/micropython/frozen");sys.path.insert(1, ".micropy/micropython/frozen");sys.path.insert(1, ".micropy/esp32-micropython-1.11.0/frozen");sys.path.insert(1, ".micropy/esp8266-micropython-1.11.0/frozen");sys.path.insert(1, ".micropy/esp32-micropython-1.11.0/stubs");sys.path.insert(1, ".micropy/esp8266-micropython-1.11.0/stubs");sys.path.insert(1,"./lib")'
