alabaster==0.7.12 ; python_version >= "3.5"
astroid==2.11.2 ; python_full_version >= "3.6.2"
attrs==21.4.0 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
autoflake==1.4
autopep8==1.6.0
babel==2.9.1 ; python_version >= "3.5"
black==21.12b0
bleak-sigspec==0.0.4
bleak-winrt==1.1.1 ; platform_system == "Windows"
bleak==0.14.2
boltons==19.3.0
bump2version==0.5.11
cachier==1.5.4
certifi==2021.10.8 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cfgv==3.3.1 ; python_version >= "3.7"
chardet==4.0.0 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
charset-normalizer==2.0.12 ; python_full_version >= "3.6.0"
click==7.1.2
click==7.1.2 ; python_full_version >= "3.6.2"
click==7.1.2 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4 ; python_version >= "2.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and platform_system == "Windows" or sys_platform == "win32" and python_full_version >= "3.6.2"
colorama==0.4.4 ; sys_platform == "win32"
colorama==0.4.4 ; sys_platform == "win32" and python_version >= "3.5" or sys_platform == "win32" and python_full_version >= "3.5.2"
commonmark==0.9.1
dbus-next==0.2.3 ; python_full_version >= "3.6.0" and platform_system == "Linux"
dill==0.3.4 ; python_full_version >= "3.6.2"
dill==0.3.4 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.1.0"
distlib==0.3.4 ; python_version >= "3.7"
doc8==0.8.1
docformatter==1.4
docutils==0.17.1 ; python_full_version >= "3.5.0"
docutils==0.17.1 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
dpath==1.5.0
filelock==3.6.0 ; python_version >= "3.7"
gitdb==4.0.9 ; python_version >= "3.7"
gitpython==3.1.27
identify==2.4.12 ; python_version >= "3.7"
idna==3.3 ; python_full_version >= "3.6.0"
imagesize==1.3.0 ; python_version >= "3.5"
importlib-metadata==4.11.3 ; python_version < "3.8" and python_version >= "3.7"
importlib-metadata==4.11.3 ; python_version >= "3.7" and python_version < "3.8"
isort==5.10.1
isort==5.10.1 ; python_full_version >= "3.6.2" and python_version < "4.0"
jinja2==3.0.3
jinja2==3.0.3 ; python_version >= "3.6"
jsonschema==3.2.0
lazy-object-proxy==1.7.1 ; python_full_version >= "3.6.2"
markupsafe==2.0.1
markupsafe==2.0.1 ; python_version >= "3.6"
mccabe==0.7.0 ; python_full_version >= "3.6.2"
mypy-extensions==0.4.3 ; python_version >= "3.6"
mypy==0.940
netifaces==0.11.0
nodeenv==1.6.0 ; python_version >= "3.7"
packaging==21.3
packaging==21.3 ; python_version >= "3.6"
pathspec==0.9.0 ; python_full_version >= "3.6.2"
pathtools==0.1.2
pbr==5.8.1 ; python_version >= "3.6"
platformdirs==2.5.1 ; python_version >= "3.7"
portalocker==2.4.0 ; python_version >= "3.5"
pre-commit==2.18.1
prompt-toolkit==3.0.29 ; python_full_version >= "3.6.2" and python_version < "4.0"
psutil==5.9.0 ; python_version >= "3.6"
pycodestyle==2.8.0 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyflakes==2.4.0 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pygments==2.11.2 ; python_version >= "3.5"
pylint==2.13.5
pyobjc-core==8.4.1 ; python_version >= "3.6" and platform_system == "Darwin"
pyobjc-framework-cocoa==8.4.1 ; python_version >= "3.6" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==8.4.1 ; python_version >= "3.6" and platform_system == "Darwin"
pyobjc-framework-libdispatch==8.4.1 ; python_version >= "3.6" and platform_system == "Darwin"
pyparsing==3.0.8 ; python_full_version >= "3.6.8"
pyreadline==2.1
pyrsistent==0.18.1 ; python_version >= "3.7"
pyserial==3.5
python-minifier==2.6.0
python-nmap==0.7.1
pytz==2022.1 ; python_version >= "3.5"
pyudev==0.23.2
pywin32==303 ; platform_system == "Windows" and python_version >= "3.5"
pyyaml==6.0 ; python_version >= "3.7"
questionary==1.10.0
recommonmark==0.6.0
requests==2.27.1
requests==2.27.1 ; python_full_version >= "3.6.0"
requirements-parser==0.2.0
restructuredtext-lint==1.4.0
rshell==0.0.31 ; python_version < "3.10" and sys_platform == "win32" or sys_platform != "win32"
setuptools==62.1.0 ; python_version >= "3.7"
six==1.16.0 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
six==1.16.0 ; python_version >= "3.7"
smmap==5.0.0 ; python_version >= "3.7"
snowballstemmer==2.2.0 ; python_version >= "3.5"
sphinx-autodoc-typehints==1.10.3
sphinx-click==2.7.1
sphinx-rtd-theme==0.4.3
sphinx==2.4.5
sphinx==2.4.5 ; python_full_version >= "3.5.2"
sphinx==2.4.5 ; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.5"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.5"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.5"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.5"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.5"
stevedore==3.5.0 ; python_version >= "3.6"
toml==0.10.2 ; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
tomli==1.2.3 ; python_full_version >= "3.6.2"
tomli==1.2.3 ; python_version < "3.11" and python_full_version >= "3.6.2" or python_version >= "3.6"
tqdm==4.64.0
typed-ast==1.5.2 ; implementation_name == "cpython" and python_version < "3.8" and python_full_version >= "3.6.2"
typed-ast==1.5.2 ; python_version < "3.8" and implementation_name == "cpython" and python_full_version >= "3.6.2"
typed-ast==1.5.2 ; python_version < "3.8" and python_version >= "3.6"
types-click==7.1.8
types-requests==2.27.16
types-urllib3==1.26.11
typing-extensions==4.1.1 ; python_version < "3.10" and python_full_version >= "3.6.2"
typing-extensions==4.1.1 ; python_version < "3.10" and python_full_version >= "3.6.2" or python_version >= "3.6"
typing-extensions==4.1.1 ; python_version < "3.8" and python_version >= "3.7"
typing-extensions==4.1.1 ; python_version >= "3.10"
typing-extensions==4.1.1 ; python_version >= "3.7" and python_version < "3.8"
unsync==1.4.0
untokenize==0.1.1
upydevice==0.3.6
urllib3==1.26.9 ; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
virtualenv==20.14.0 ; python_version >= "3.7"
watchdog==2.1.7 ; python_version >= "3.6"
wcwidth==0.2.5 ; python_full_version >= "3.6.2" and python_version < "4.0"
wrapt==1.14.0 ; python_full_version >= "3.6.2"
zipp==3.8.0 ; python_version >= "3.7" and python_version < "3.8"
