name: Test MicropyCli

on: [push, pull_request]

jobs:
    build:
        name: ${{ matrix.os }} @ Py v${{ matrix.python }}
        runs-on: ${{ matrix.os }}
        env:
            COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        strategy:
            matrix:
                os: [windows-latest, macOS-10.14, ubuntu-18.04]
                python: ["3.6", "3.7"]

        steps:
            - uses: actions/checkout@v1
              with:
                  submodules: true

            - name: Setup Python ${{ matrix.python }}
              uses: actions/setup-python@v1.1.1
              with:
                  python-version: ${{ matrix.python }}
                  architecture: x64

            - name: Install Poetry
              uses: dschep/install-poetry-action@v1.2
              with:
                  version: 1.0.0b8

            - name: Install Dependencies
              run: poetry install -v

            - name: Test with Tox
              env:
                  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
              run: poetry run tox

            - name: Report Results
              if: always()
              shell: bash
              run: |
                  curl "https://api.check-run-reporter.com/api/v1/submissions" \
                   --user token:${{ secrets.REPORTER_TOKEN }} \
                   -X POST \
                   -F report=@"test_log.xml" \
                   -F label="Unit Tests" \
                   -F sha="${{ github.sha }}" \
                   -F root="$GITHUB_WORKSPACE"
