name: Publish Release

on:
  release:
    types:
      - created

env:
  POETRY_VERSION: 1.8.3
  PYTHON_VERSION: 3.11

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup environment.
        uses: ./.github/actions/setup-micropy
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Build
        run: poetry build

      - name: Publish to PyPi
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish
